<div class="row">
  <div class="col s12">
      <div class="card-panel z-depth-2 message {{message_color}} darken-2 white-text text-darken scale-transition scale-in" *ngIf="message">
        <span>{{message_text}}</span>
      </div>
      <form class="login-form card-panel hoverable z-depth-2" [formGroup]="login_form" (ngSubmit)="login(login_form.value)">
          <div class="row">
              <div class="input-field col s12 center">
                  <img src="assets/images/vendoo.png" alt="" class="responsive-img valign profile-image-login">
                  <p class="center login-form-text">Login Form</p>
              </div>
          </div>
          <div class="row margin">
              <div class="input-field col s12">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="username" type="text" [ngClass]="{'invalid':!login_form.controls['username'].valid && login_form.controls['username'].touched}" [formControl]="login_form.controls['username']">
                  <label for="username">Email-address</label>
              </div>
              <span *ngIf="login_form.controls['username'].hasError('required') && login_form.controls['username'].touched" class="alert">* E-mail address is required.</span>
              <span *ngIf="login_form.controls['username'].hasError('pattern') && login_form.controls['username'].touched" class="alert">* E-mail address is incorrect.</span>
          </div>
          <div class="row margin">
              <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" [ngClass]="{'invalid':!login_form.controls['password'].valid && login_form.controls['password'].touched}" [formControl]="login_form.controls['password']">
                  <label for="password">Password</label>
              </div>
              <span *ngIf="login_form.controls['password'].hasError('required') && login_form.controls['password'].touched" class="alert">* Password is required.</span>
          </div>
          <div class="row" style="margin-top: 10px;">
              <div class="col s12">
                  <span>Forgot your password ? <a routerLink="/password-reset">Reset password</a></span>
              </div>
          </div>
          <div class="row">
              <div class="col s12">
                  <button type="submit" class="waves-effect waves-light btn col s12 center-align pink accent-3" [disabled]="!login_form.valid">Sign In</button>
                  <span>Don't you have an account yet ? <a routerLink="/register">Sign up</a></span>
              </div>
          </div>
      </form>
  </div>
</div>