<div class="row">
  <div class="col s12">
      <div class="card-panel z-depth-2 message {{message_color}} darken-2 white-text text-darken scale-transition scale-in" *ngIf="message">
        <span>{{message_text}}</span>
      </div>
      <form class="register-form card-panel hoverable z-depth-2" [formGroup]="register_form" (ngSubmit)="register(register_form.value)">
          <div class="row">
              <div class="input-field col s12 center">
                  <img src="assets/images/vendoo.png" alt="" class="responsive-img valign profile-image-register">
                  <p class="center register-form-text">Register Form</p>
              </div>
          </div>
          <div class="row margin">
              <div class="input-field col s12">
                  <i class="material-icons prefix">assignment_ind</i>
                  <input id="fullname" type="text" [ngClass]="{'invalid':!register_form.controls['fullname'].valid && register_form.controls['fullname'].touched}" [formControl]="register_form.controls['fullname']">
                  <label for="fullname">Full name</label>
              </div>
              <span *ngIf="register_form.controls['fullname'].hasError('required') && register_form.controls['fullname'].touched" class="alert">* Full name is required.</span>
          </div>
          <div class="row margin">
              <div class="input-field col s12">
                  <i class="material-icons prefix">perm_identity</i>
                  <input id="username" type="text" [ngClass]="{'invalid':!register_form.controls['username'].valid && register_form.controls['username'].touched}" [formControl]="register_form.controls['username']">
                  <label for="username">Email-address</label>
              </div>
              <span *ngIf="register_form.controls['username'].hasError('required') && register_form.controls['username'].touched" class="alert">* E-mail address is required.</span>
              <span *ngIf="register_form.controls['username'].hasError('pattern') && register_form.controls['username'].touched" class="alert">* E-mail address is incorrect.</span>
          </div>
          <div class="row margin">
              <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" [ngClass]="{'invalid':!register_form.controls['password'].valid && register_form.controls['password'].touched}" [formControl]="register_form.controls['password']">
                  <label for="password">Password</label>
              </div>
              <span *ngIf="register_form.controls['password'].hasError('required') && register_form.controls['password'].touched" class="alert">* Password is required.</span>
              <span *ngIf="register_form.controls['password'].hasError('minlength') && register_form.controls['password'].touched" class="alert">* Password is too short.</span>
              <span *ngIf="register_form.controls['password'].hasError('maxlength') && register_form.controls['password'].touched" class="alert">* Password is too long.</span>
          </div>
          <div class="row" style="margin-top: 10px;">
              <div class="col s12">
                  <span>Already have an account ? <a routerLink="/login">Sign in</a></span>
              </div>
          </div>
          <div class="row">
              <div class="col s12">
                  <button type="submit" class="waves-effect waves-light btn col s12 center-align red darken-3" [disabled]="!register_form.valid">Sign Up</button>
              </div>
          </div>
          <div class="row">
              <div class="col s12">
                  <button type="button" class="waves-effect waves-light btn col s12 center-align blue darken-3" (click)="loginFacebook()">Log in With Facebook</button>
              </div>
          </div>
      </form>
  </div>
</div>